@page
@using DevExpress.DashboardWeb

<script type="text/javascript">

    function onBeforeRender(dashboardControl) {
        dashboardControl.unregisterExtension('createDashboard');
        dashboardControl.unregisterExtension('openDashboard');
        DevExpress.localization.locale('pt-BR');
    }

</script>

@model DashboardDesignerModel
@{
    if (Model.EditMode && !Model.DesktopDevice)
    {
        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container position-absolute top-0 end-0 p-3">
            <div class="toast show align-items-center text-white bg-primary border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex">
                    <div class="toast-body">
                        Este não é o dispositivo idal para edição do dashboard
                    </div>
                    <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    }
}

<div style="position: absolute; left: 0; top: 0; right: 0; bottom: 0;">
    @(Html.DevExpress()
        .Dashboard("clientDashboardControl")
        .ControllerName("DefaultDashboard")
        .Width("100%")
        .Height("100%")
        .OnBeforeRender("onBeforeRender")
        .LoadDefaultDashboard(false)
        .InitialDashboardId(Model.ReportID)
        .WorkingMode(Model.EditMode ? WorkingMode.Designer : WorkingMode.ViewerOnly)
        )
</div>

<script src="js/site.min.js"></script>